appdirs==1.4.4
asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2.1
django-clearcache==1.2.1
django-crispy-forms==1.11.2
djangorestframework==3.12.4
filelock==3.0.12
idna==2.10
jsonschema==2.6.0
mysqlclient==2.0.3
protobuf==3.15.8
psycopg2==2.8.6
PyMySQL==1.0.2
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.3
virtualenv==20.4.4
virtualenv-clone==0.5.4
